body {
  margin: 0px;
  padding: 0px;
  font-family: Arial, Sans, Helvetica;
}

#page {
  margin: 0ex 2ex 0ex 2ex;
  padding: 5ex;
  padding-top: 1ex;
  background-color: #F5F5FF;
}

#_testResults{
}

.TestSample{
  margin-bottom: 1ex;
  background-color: white;
  padding: 2ex;
}

.TestGiven{
  margin-bottom: 1ex;
  background-color: white;
  padding: 2ex;
  font-family: Monospace;
  letter-spacing: 0.11ex;
}


.TestSample_Ok{
  color: green;
}

.TestSample_Failed{
  color: red;
}

.TestCode{
  font-style: italic;
}
