#container{
    height: 200px;
    position: relative;
    border: solid 1px black;
}
#line{
    width: 100px;
    height: 20px;
    background-color: #666;
    color: white;
    position: absolute;
    top: 20px;
}