#ghost_world{
	width: 800px;
	height: 600px;
	position: absolute;
	border: 1px solid black;
}

#lluvia_load{
	display: none;
}

.ghost{
	opacity: 0.1;
	position: relative;
}

#ghost1{
	position-top: 20px;
	position-left: 20px;
}

#ghost2{}

#ghost3{}

#ghost4{}